$color:  #FF6060;

@keyframes rotation {

    0% {
       transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }

}

@keyframes glissement {
    
    0% {
        opacity: 0;
        transform: scale(0);
        transform: translateY(-50px);
     }
 
     100% {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0px);
     }
}

@keyframes remonte {
    
    0% {
        opacity: 1;
        transform: scale(1); 
        transform: translateY(0px); 
     }
 
     100% {
        opacity: 0;
        transform: scale(0); 
        transform: translateY(-40px);
     }
}

.unCollapse {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
    .contenuColl {
        
        overflow: hidden;
        width: 101%;

        .actif {
           
           animation: glissement 500ms ;
           color:$color;
           padding: 20px 15px;
           margin: 0 0 30px 0;
           background-color: #f5f5f5;
            
        } 

        .null {
            animation: remonte 500ms ;
            max-height: 30px;
            opacity: 0;
            color:$color;
            margin: 0;
        } 

    }

    .collaTitre {
        display: flex;
        flex-direction: row;
        background-color: $color;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
    
        h2 {
            color: white;
            font-weight: 500;
            font-size: 24px;
            padding : 10px 20px 10px 15px;
            margin: 0;
        }

        button {
            margin-right: 10px;
            background-color: $color;
            border: none;

            &:active {
               
                animation: rotation 500ms;
    
            }
        }        
    }
}

.texte, .liste {
    width: 45%;
    align-items: flex-start;

    .collaTitre h2 {
      
        padding : 5px 20px 5px 15px;
        margin: 0;
    }

    li {
        list-style: none;
    }

}

/************** Responsive pour smartphone *****************/

    @media all and (max-width: 768px ) {
        .unCollapse {
            width: 100%;

            .collaTitre h2 {
                padding: 5px 10px 5px 10px; 
                font-size: 13px;
            }

            img {
                height: 10px;
            }

            .contenuColl {

                .actif {                  
                  font-size: 11px;
                  padding: 10px;
                  margin: 0 0 15px 0;                                    
                } 
        
                .null {
                    max-height: 20px;
                    font-size: 11px;
                } 
        
            }
        }
    }