$color:  #FF6060;

@keyframes rotation {

    0% {
       transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }

}

@keyframes glissement {
    
    0% {
        opacity: 0;
        transform: scale(0);
        transform: translateY(-50px);
     }
 
     100% {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0px);
     }
}

@keyframes remonte {
    
    0% {
        opacity: 1;
        transform: scale(1); 
        transform: translateY(0px); 
     }
 
     100% {
        opacity: 1;
        transform: scale(0); 
        transform: translateY(-40px);
     }
}

.unCollapse {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
    .contenuColl {
        
        overflow: hidden;

        .actif {
           
           animation: glissement 400ms ;
           color:$color;
           margin: 20px 0;
            
        } 

        .null {
            animation: remonte 400ms ;
            max-height: 30px;
            opacity: 0;
            color:$color;
            margin: 0;
        } 

    }

    .collaTitre {
        display: flex;
        flex-direction: row;
        background-color: $color;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
    
        h2 {
            color: white;
            font-weight: 500;
            font-size: 24px;
            padding : 10px 20px 10px 15px;
            margin: 0;
        }

        button {
            margin-right: 10px;
            background-color: $color;
            border: none;

            &:active {
               
                animation: rotation 500ms;
    
            }
        }        
    }
}

.texte, .liste {
    width: 45%;
    align-items: flex-start;

    .collaTitre h2 {
      
        padding : 5px 20px 5px 15px;
        margin: 0;
    }

}