.monFooter  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
	top: 100;
	left: 0;
	width: 100%; 

    .Ordi {
        width: 100%;
        height: 209px;
        object-fit: cover;
    }

    .mobile {
        display: none;
    }
}


 /************** Responsive pour smartphone *****************/

    @media all and (max-width: 768px ) {

        .monFooter  {

            .mobile {
                width: 100%;
                height: 209px;
                object-fit: cover;
                display: flex;
            }

            .Ordi {
                display: none;
            }
        }
    }