.contCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

/************** Responsive pour smartphone *****************/

@media all and (max-width: 768px ) {
   
    .contCard {
        flex-direction: column;
    }

}