$colorP: #FF6060;

.contLogement {
    width: 100%;

    .contCol {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
            color: $colorP;
            font-weight: 500;
            margin: 0px;
            font-size: 36px;
        }
    
        h2 {
            color: $colorP;
            font-size: 18px;
            font-weight: 500;
            padding: 5px 0 10px 0;
            margin: 0;
        }
    
        .listeTag {
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding: 0;
            margin-top: 10px;
    
            li {
                list-style: none;
                background-color: $colorP;
                color: white;
                border-radius: 10px;
                font-size: 14px;
                padding: 3px 15px;
                margin-right: 20px;
    
            }
    
        }

        .hostPho {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                width: 50%;
                text-align: right;
                @extend h2;
                margin-right: 5px;

            }

            img {
                border-radius: 40px;
                height: 64px;
            }
        }
    }

    .contCollaLog {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
   
    
    
}

/************** Responsive pour smartphone *****************/

@media all and (max-width: 768px ) {

    .contLogement {
    
        .contCol {

            display: flex;
            flex-direction: column;

            h1 {
            font-size: 18px; 
            }

            h2 {
                font-size: 14px;
            }

            .listeTag li {
                font-size: 10px;
            }

            .colD {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .hostPho {
                    order: 2;
                    justify-content: space-between;
                    width: 30%;
                    
                    p {
                        font-size: 12px;
                    
                    }

                    img {
                        height: 32px;
                    }
                }

                .rating {
                    
                    order: 1;

                    img {
                        height: 18px;
                    }
                }
            }
        }

        .contCollaLog {
            
            flex-direction: column;
            margin-top: 10px;
        
        }
    }
}